# Ignore all dotfiles...
.*
# Except
!.gitignore
!.editorconfig
!.travis.yml
!.zappr.yml
!.catwatch.yaml

# IntelliJ
*.iml
/out/
/project/
/target/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Locally stored "Eclipse launch configurations"
*.launch

scm-source.json
