html, body, #react, .pazuzuApp {
	margin: 0;
	height: 100%;
	width: 100%;
}

.pazuzuApp > div {
     height: 100%;
     width: 100%;
     min-width: 400px;
}

table, th, td {
    border: 1px solid black;
}

.header {
    background-color: #eee;
    width: 100%;
    min-width: 400px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
}

.headerMenu {
    height: 20px;
    width: 20px;
    background-image: url('../menu-icon.png');
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.headerZalando {
    font-size: 10px;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.menu {
    height: calc(100% - 35px);
    width: 150px;
    background-color: lightyellow;
    transition: margin-left 0.4s ease-out;
    display: inline-block;
    box-shadow: 5px 0 5px -2px #ccc;
}

.menuOpen {
    margin-left: 0;
}

.menuClosed {
    margin-left: -150px;
}

.menuItem {
    text-align: left;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #bbbbbb;
}

.featureTableContainer {
    display: inline-table;
    margin-left: 100px;
}

.featureTableContainer > table {
    border-collapse: collapse;
}

.featureTableHeader {
    width: 150px;
    text-align: center;
}

.featureTableCell {
    width: 150px;
    text-align: left;
    height: 30px;
}

.featureTableCell.featureTableCellInclude {
    text-align: center;
}

.createButton {
    height: 36px;
    width: 80px;
    border-radius: 4px;
    background-color: orange;
    color: white;
    margin-top: 10px;
    float: right;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
