<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Pazuzu Registry - Signin</title>
</head>
<body>

<div class="container">
    <h2>Signin page</h2>

    <p>Sign in with:</p>

    <table style="border-collapse: separate; border-spacing: 2px">
        <tr>
            <td><a th:href="@{/auth/zauth}" href="#" role="button" class="btn btn-default">IAM</a></td>
        </tr>
    </table>
</div><!-- /.container -->

</body>
</html>