swagger: '2.0'
info:
  title: Pazuzu registry
  description: Generating Dockerfiles by sets of required functions
  version: "0.0.4"
host: pazuzu.zalando.net
schemes:
  - http
produces:
  - application/json
paths:
  /api/resolved-features:
    get:
      summary: Resolve all features by name
      description: |
        Returns all the features with all its dependencies in a single array.
      tags:
        - Features
      parameters:
        - name: names
          in: query
          description: feature names.
          required: true
          type: array
          items:
            type: string
      responses:
        200:
          description: An array of features
          schema:
            type: array
            items:
              $ref: '#/definitions/Feature'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /api/features:
    get:
      summary: Get all features
      description: |
        Returns all the features without its dependencies.
      tags:
        - Features
      parameters:
        - name: names
          in: query
          description: value, that must present in feature name.
          required: false
          type: array
          items:
            type: string
        - name: offset
          in: query
          description: the offset to start from.
          required: false
          type: integer
        - name: limit
          in: query
          description: maximum number of features to return.
          required: false
          type: integer
      responses:
        200:
          description: An array of features
          schema:
            type: array
            items:
              $ref: '#/definitions/Feature'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Creates a new feature
      description: |
        Creates a new feature with specified name, docker data, etc. Feature
        name is checked to be unique.
      tags:
        - Features
      parameters:
        - name: feature
          required: true
          in: body
          schema:
            $ref: '#/definitions/Feature'
      consumes:
        - application/json
      responses:
        201:
          description: Feature successfully created
          schema:
            $ref: '#/definitions/Feature'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /api/features/{name}:
    parameters:
    - name: name
      in: path
      description: the feature name.
      required: true
      type: string
    get:
      summary: Get single feature
      description: |
        Returns all the feature data without its dependencies.
      tags:
        - Features
      responses:
        200:
          description: a single feature
          schema:
            $ref: '#/definitions/Feature'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Replace this feature's content
      description: |
        Replaces snippet, test_snippet and meta data for this feature.
      tags:
        - Features
      parameters:
        - name: feature
          required: true
          in: body
          schema:
            $ref: '#/definitions/Feature'
      consumes:
        - application/json
      responses:
        200:
          description: Feature successfully updated
          schema:
            $ref: "#/definitions/Feature"
        default:
          description: Unexpected exception
          schema:
            $ref: "#/definitions/Error"
    delete:
      summary: Delete feature
      description: |
        Delete this feature. If another feature depends on this feature
        nothing will be deleted and an error will be returned.
      tags:
        - Features
      responses:
        204:
          description: Feature successfully deleted
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /api/feature-metas:
    get:
      summary: Get all feature meta data
      description: |
        Returns all the features meta data.
      tags:
        - FeatureMetas
      parameters:
        - name: name
          in: query
          description: value, that must present in feature name.
          required: false
          type: array
          items:
            type: string
        - name: offset
          in: query
          description: the offset to start from.
          required: false
          type: integer
        - name: limit
          in: query
          description: maximum number of features to return.
          required: false
          type: integer
      responses:
        200:
          description: An array of feature meta data
          schema:
            type: array
            items:
              $ref: '#/definitions/FeatureMeta'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /api/feature-metas/{name}:
    parameters:
    - name: name
      in: path
      description: the feature name.
      required: true
      type: string
    get:
      summary: Get single feature meta
      description: |
        Returns feature meta data.
      tags:
        - FeatureMetas
      responses:
        200:
          description: a single feature meta data
          schema:
            $ref: '#/definitions/FeatureMeta'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  FeatureMeta:
    type: object
    properties:
      name:
        type: string
        description: Unique identifier representing a specific feature.
      description:
        type: string
        description: Description of the feature
      author:
        type: string
        description: Name of the feature author
      updated_at:
        type: string
        description: Last update date in ISO 8601 format
      dependencies:
        type: array
        items:
          type: string
        description: array of feature names
  Feature:
    type: object
    properties:
      meta:
        $ref: '#/definitions/FeatureMeta'
      snippet:
        type: string
        description: Docker file part to be used with that feature.
      test_snippet:
        type: string
        description: how to test that feature is working
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      detailed_message:
        type: string
